@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Spline Sans",sans-serif;
  --font-roboto: "Roboto",sans-serif;
}

@layer {
  .container-default {
    @apply mx-auto w-full max-w-7xl px-4 sm:px-6 lg:px-8;
  }
  .text-border {
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.31);
    paint-order: stroke fill;
  }
  .carousel { display: flex; overflow: hidden; }
  .banner {
    display: flex;
    flex-shrink: 0;
    min-width: 100%;
    padding-left: 30px;
    gap: 30px;
    animation: moveLeft 8000ms linear 1ms infinite;
  }
  /* .carousel:hover .banner{
    animation-play-state: paused;
  } */
  .img {
    min-width: 400px;
    height: 280px;
    object-fit: cover;
    border-radius: 16px;
  }
  @keyframes moveLeft {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
  }
  .hero-zoom {
    animation: heroZoom 12s ease-in-out infinite alternate;
    transform-origin: center;
    will-change: transform;
  }
  @keyframes heroZoom {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.25);
    }
  }
}
